<div class="filter-item">
  <label for="province">Provincia</label>
  <select id="provincias">
    <option class="filter-item" value="" *ngFor="let provincia of provincias">
      {{ provincia.provincia }}
    </option>
  </select>
</div>

<!-- <div class="filter-item">
  <label for="province">Provincia</label>
  <div class="custom-select">
    <input
      type="text"
      [(ngModel)]="selectedProvincia"
      (click)="toggleOptions()"
      (input)="filterOptions()"
      placeholder="Buscar provincia"
      class="custom-input"
    />
    <ul *ngIf="showOptions" class="custom-options">
      <li
        *ngFor="let provincia of filteredProvincias"
        (click)="selectOption(provincia)"
      >
        {{ provincia.provincia }}
      </li>
    </ul>
  </div>
</div> -->
