@import url(https://fonts.googleapis.com/css?family=Montserrat:200,400,500,600,800);
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-settings {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 500px;
  min-width: 200px;
  margin: 0;
  padding: 20px;
  border: none;
  border-radius: 5px;
}
img {
  width: 80%;
  min-width: 250px;
  margin: 20px auto;
}

.user-settings h2 {
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 40px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="password"] {
  letter-spacing: 1px;

  margin-bottom: 20px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #03a9f4;
  color: #a3a3a3;
  transition: 0.3s;
  font-size: 1rem;
  height: auto;
  width: 100%;
}
input[type="password"]:focus {
  outline: none;
  color: #000000;
  border-bottom: 1px solid #2dff08;
}

.error {
  color: red;
  letter-spacing: 1px;
  font-size: 0.9rem;
  position: absolute;
}

button {
  background-color: #007bff;
  letter-spacing: 1px;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
  width: auto;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 auto;
}
button:hover {
  background-color: #0967cb;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.buttons {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
p {
  font-weight: 600;
  font-size: 1rem;
  background: #09af00;
  text-align: center;
  line-height: 30px;
  border: none;
  border-radius: 5px;
  color: white;
  letter-spacing: 1px;
  width: 90%;
}
a {
  text-align: center;
  color: #084280;
  text-decoration: none;
  font-size: 1rem;
  margin-top: 10px;
  transition: color 0.3s;
}
a:hover {
  color: #2f90f9;
}
/* Media Queries for Responsiveness */

@media screen and (max-width: 768px) {
  .user-settings {
    max-width: 90%;
    padding: 10px;
  }

  .user-settings h2 {
    font-size: 1.3rem;
  }
}
