@import url(https://fonts.googleapis.com/css?family=Montserrat:200,400,500,600,800);

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html,
body {
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background: none;
  border: none;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100vh;
  padding: 0;
}

header {
  grid-column-start: 1;
  grid-column-end: 5;

  background: #0584ce;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

header h1 {
  margin: 0;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
}

header h2 {
  margin: 0;
  color: #fff;
  font-size: 0.7rem;
  font-weight: 400;
  letter-spacing: 1px;
  padding-right: 15px;
}
aside {
  grid-column-start: 1;
  grid-column-end: 1;
  padding: 50px 0;
  border-right: 3px solid #ebe9e9;
}
aside ul {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 50px 0;
  height: 100%;
}
aside ul li {
  list-style: none;
  font-size: 16px;
  color: #fff;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside ul li button {
  background: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease-in;
  letter-spacing: 1px;
  font-weight: 600;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-bottom: 3px solid transparent;
}

aside ul li button:hover svg path,
aside ul li button:hover svg circle,
aside ul li button:hover svg line {
  fill: #0056b3;
  stroke: #0056b3;
  transition: 400ms ease-in-out;
}

aside ul li:last-child {
  position: absolute;
  margin-top: 100%;
  bottom: 0px;
}

main {
  grid-column-start: 2;
  grid-column-end: 5;
  padding: 20px 20px 150px 20px;
  overflow-y: scroll;
}

.filtrar-egresados-nombre {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  position: absolute;
  background: #fff;
  z-index: 5;
  padding: 20px 0;
  top: 100px;
}
.filtrar-egresados-nombre h1 {
  color: #525252;
  font-size: 1.7rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 700;
}
.filtrar-egresados-nombre input {
  border: 1px solid #03a9f4;
  width: 280px;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0;
  text-align: center;
}
.filtrar-egresados-nombre input:focus {
  outline: none;
}
.container-tarjeta {
  margin-top: 100px;
}

.tarjeta {
  width: 100%;
  margin: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px 0;
  border-radius: 10px;
  animation: aparecer linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
}

.img-perfil {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.img-perfil img {
  display: block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.info-perfil {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
  letter-spacing: 1px;
  color: #444;
}

.tarjeta h1 {
  font-weight: 800;
  font-size: 1.2rem;
  margin: 0;
}
.tarjeta p {
  font-size: 15px;
  margin: 2px 0;
}
.tarjeta p:nth-child(3) {
  font-size: 13px;
}
.botones-perfil {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.botones-perfil button,
.destacar button {
  background: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 8px;
  width: 110px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  letter-spacing: 1px;
}
.destacar {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
}

.destacar h2 {
  color: #303030;
  letter-spacing: 1px;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 20px 0 15px 0;
}

.destacar textarea {
  resize: none;
  min-height: 150px;
  max-height: 250px;
  width: 70%;
  border: none;
  border-radius: 10px;
  color: #353535;
  font-size: 1rem;
  padding: 15px;
  background: #f9f9f9;
  font-weight: 400;
}
.destacar textarea:focus {
  outline: none;
}
.botones {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 10px;
}

.botones-perfil button:hover,
.destacar button:hover {
  filter: brightness(0.7);
}

.ocultar {
  filter: grayscale();
}

.visible {
  display: flex;
  opacity: 1;
}

.active {
  color: #0056b3;
}

.active svg path,
.active svg circle,
.active svg line {
  fill: #0056b3;
  stroke: #0056b3;
}

@keyframes aparecer {
  from {
    opacity: 0;
    translate: 0 30px;
  }
  to {
    translate: 0 0;
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .container-tarjeta {
    margin-top: 125px;
  }
  header h1 {
    font-size: 1rem;
    font-weight: 600;
  }
  aside {
    grid-column-start: 1;
    grid-column-end: 5;
    padding: 15px;
    height: auto;
  }
  aside ul {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: auto;
  }

  aside ul li {
    font-size: 14px;
    width: fit-content;
  }

  aside ul li button {
    font-size: 10px;
  }
  aside ul li button {
    text-indent: -9999px;
    overflow: hidden;
    white-space: nowrap;
    content: "";
  }
  aside ul li button svg {
    width: 35px;
    height: 35px;
  }
  aside ul li:last-child {
    position: relative;
    margin: 0;
  }

  main {
    grid-column-start: 1;
    grid-row-start: 2;
    padding-bottom: 130px;
  }

  .filtrar-egresados-nombre {
    justify-content: center;
    gap: 5px;
    padding: 5px 20px;
    right: 0;
    flex-direction: column;
    align-items: center;
  }
  .filtrar-egresados-nombre h1 {
    font-size: 1.3rem;
    text-align: center;
  }
}
