@import url(https://fonts.googleapis.com/css?family=Montserrat:200,400,500,600,800);

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html,
body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;
  max-width: 1000px;
  padding: 40px;
}
form header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

form img {
  width: 50%;
  min-width: 300px;
  margin: 40px 0;
}

form h2 {
  text-align: center;
  color: #3d3b3b;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}
form h3 {
  font-size: 1.2rem;
  font-weight: 400;
}
form input {
  padding: 15px 20px;
  border: 1px solid transparent;
  background: #f3f3f3;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 400;
  transition: 0.5s;
}
form input:focus {
  outline: none;
  border: 1px solid rgb(118, 197, 0);
}

form button {
  width: fit-content;
  padding: 15px 20px;
  border: none;
  background: rgb(0, 131, 197);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 0 auto;
  transition: 0.5s;
}
form button:hover {
  background: rgb(11, 155, 227);
}
form a {
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(5, 55, 164);
  text-decoration: none;
  transition: 0.5s;
}
form a:hover {
  color: rgb(19, 176, 255);
}

form small {
  color: rgb(23, 157, 23);
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0;
}

@media screen and (max-width: 800px) {
  form h2 {
    font-size: 1.5rem;
  }
  form h3 {
    font-size: 1rem;
  }
  form a {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 450px) {
  form h3 {
    font-size: 0.9rem;
  }
  form a {
    font-size: 0.7rem;
  }
}
