<div class="container">
  <form>
    <header>
      <img src="assets/img/profile/logo.png" alt="UASD" />
      <h2>Olvidaste tu contraseña?</h2>
      <h3>
        Ingresa tu correo electronico y te enviaremos un enlace para restablecer
        tu contraseña.
      </h3>
    </header>
    <input
      type="text"
      id="exampleInputEmail"
      aria-describedby="emailHelp"
      placeholder="example@example.com"
      #search
    />
    <small id="emailHelp" *ngIf="correoEnviado">
      Se ha enviado un correo electronico a la direccion indicada. Verifica tu
      bandeja de entrada.
    </small>
    <button (click)="recuperarPassword()">Recuperar Contraseña</button>
    <a href="/login">Iniciar Sesion</a>
  </form>
</div>
