@import url(https://fonts.googleapis.com/css?family=Montserrat:400,600,800);
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.filter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  min-height: 100vh;
  color: #3e3d3d;
  background: #f9f9f9;
  overflow-y: auto;
  z-index: 999;
  animation: aparecer ease-in-out 0.5s;
}

@keyframes aparecer {
  from {
    opacity: 0;
    translate: 100px 0;
  }
  to {
    translate: 0 0;
    opacity: 1;
  }
}
.filter-title {
  width: 100%;
  text-align: center;
  margin: -25px;
}
.filter-title h2 {
  color: #3e3d3d;
  font-size: 1.2rem;
  font-weight: 800;
}
.filter-item {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: 0px 0px 5px #a8a8a8;
  padding: 10px;
  border-radius: 10px;
  margin: 0;
}

.filter-item label {
  font-size: 0.9rem !important;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.filter-item input,
.filter-item select {
  width: 100%;
  border: none;
  padding: 6px;
  color: #232323;
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-weight: 300;
  cursor: pointer;
  background: #e6e6e6;
  border-radius: 20px;
}
.filter-item input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

.filter-item input:active {
  outline: none;
}

.destacado-rango {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: -10px 0 0 0;
  font-size: 0.8rem;
  font-weight: 600;
  gap: 10px;
}
.destacado-rango label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mostrarMenu {
  position: absolute;
  background: transparent;
  border: none;
  margin: 0;
  top: 50px;
  right: 50px;
  cursor: pointer;
}

.add-habilidades-main h2 {
  font-weight: 600;
  font-size: 0.9rem;
  margin: 0;
}

.add-habilidades-main {
  position: relative;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  z-index: 1;
  margin: 0;
  box-shadow: 0px 0px 5px #a8a8a8;
}

.add-habilidades-buscar {
  margin: 2px 0;
  padding: 5px;
  border-radius: 3px;
  border: none;
  background: #ebebeb;
  color: #2d2d2d;
  transition: 0.3s;
  font-size: 0.9rem;
  width: 95%;
}
.add-habilidades-buscar input {
  position: absolute;
  top: 0;
  width: 100%;
}

.add-habilidades-main svg {
  margin: 0 10px 0 0;
  z-index: 100;
  position: absolute;
  top: 10px;
  right: 0px;
  cursor: pointer;
}
.all-habilidades {
  margin: 0px;
  overflow-y: scroll;
  left: 0;
  max-height: 90px;
  width: 100%;
  color: rgb(21, 21, 21);
  margin: 0;
  padding: 20px 0;
}

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background: none;
  border: none;
}

.habilidades {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 35px;
  width: 100%;
  gap: 10px;
  margin: 0;
}
.Carrera {
  margin: 55px 0;
}

.add-habilidades {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding-left: 25px;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  user-select: none;
}

.add-habilidades input {
  position: absolute;
  cursor: pointer;
  height: 15px;
  width: 15px;
  left: 0;
}
input:focus {
  outline: none;
}

.filtrar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.filtrar-button button {
  background-color: #007bff;
  color: #ffff;
  border: none;
  padding: 13px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.5s;
  letter-spacing: 1px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filtrar-button button:hover {
  background-color: #0056b3;
}

/* Responsive Design */

@media screen and (max-width: 800px) {
  .filter-item label {
    font-size: 0.9rem !important ;
    padding-top: 10px;
  }
  .filter-container {
    top: 0;
    width: 100%;
    padding: 5px;
  }

  .filter-title h2 {
    font-size: 1rem;
  }

  /* #close-button {
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 30px;
    height: 30px;
  } */

  .popup.visible {
    display: block;
    opacity: 1;
  }
  .filter-svg {
    display: block;
    position: absolute;
    top: 138px;
    right: 10px;
  }
  .add-habilidades-main,
  .filter-item {
    width: 90%;
  }
  /* .all-habilidades {
    max-height: 50px;
  } */
  .add-habilidades-main h2 {
    font-size: 0.9rem;
  }
}
