@import url(https://fonts.googleapis.com/css?family=Montserrat:400,300,100,700,600,800,900);

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
/* Usuarios */
.container {
  margin: 0;
  padding: 0;
}
.container-tarjetas,
.container-tarjetas-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
  margin-bottom: 0px;
}

.filtrar-egresados-nombre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 0px;
  width: 100%;
  padding: 70px 20%;
  position: fixed;
  top: 110px;
  background: #fff;
  z-index: 2;
  left: 0;
}
.filtrar-egresados-nombre h1 {
  color: #525252;
  font-size: 1.7rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 800;
}
.filtrar-egresados-nombre input {
  border: 1px solid #03a9f4;
  width: 100%;
  max-width: 250px;
  height: 15px;
  padding: 15px 20px;
  border-radius: 5px;
  margin: 0;
}
.filtrar-egresados-nombre input:focus {
  outline: none;
}

.ver-filtros {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 5px;
}
.ver-filtros button {
  background-color: #007bff;
  color: #ffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.5s;
  font-size: 0.8rem !important;
  letter-spacing: 1px;
  width: fit-content;
}

.ver-filtros button:hover {
  background-color: #0056b3;
}
.tarjeta {
  width: 60%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
  margin: 0.5rem;
  background: rgb(0, 147, 218);
  background: linear-gradient(
    180deg,
    rgba(0, 147, 218, 1) 15%,
    rgba(255, 255, 255, 1) 16%
  );
  height: auto;
  border-radius: 10px;
  transition: 0.5s;
}

.img-perfil {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.tarjeta img {
  display: block;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 20px;
}

.info-perfil {
  padding-top: 30px;
  width: 40%;
  padding-left: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
  letter-spacing: 1px;
  color: #444;
}
.info-perfil a {
  width: fit-content;
  padding: 5px 15px;
  cursor: pointer;
  border: 1px solid #03a9f4;
  font-size: 0.8em;
  font-weight: 400;
  margin: 10px 0 0 0;
  line-height: 20px;
  letter-spacing: 1px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
  transition: 0.5s;
}
.info-perfil a:hover {
  background: #03a9f4;
  color: #fff;
}
.tarjeta h1 {
  font-weight: 800;
  font-size: 1.2rem;
  margin: 0;
}

.tarjeta p {
  font-size: 15px;

  margin: 2px 0;
}
.tarjeta p:nth-child(3) {
  font-size: 13px;
}

.social-media {
  width: 30%;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-media ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
}
.social-media li {
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #898989;
}

/* Pop up */

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(36, 34, 34, 0.769);
  opacity: 0;
  z-index: 200;
  padding-left: 10%;
  animation: ease-in 0.5s aparecer both;
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.popup-content {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 8px 0 rgba(134, 130, 130, 0.2);
  width: 60%;
  height: 80%;
  overflow-y: scroll;
  border-radius: 10px;
}
.popup-content::-webkit-scrollbar {
  display: none;
}

.close {
  color: #aaa;
  float: right;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}

.popup main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 10px;
  padding: 10px;
  border-top: 5px solid #03a9f4;
}

.popup-content header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.popup-content header h1 {
  font-size: 1.8rem;

  font-weight: 800px;
  margin: 10px 0;
  text-align: center;
}

.popup-content header h2 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0 auto;
  margin-left: 25%;
  text-align: left;
  display: flex;
  align-items: center;
}

.popup-content header img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
}

.popup-content header p {
  width: 50%;
  margin: 20px auto;
  text-align: left;
}
.popup-top,
.popup-middle {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.popup-top ul,
.popup-middle ul {
  list-style: none;
  padding: 0;
  margin: 0%;
}
.popup-top ul li {
  margin: 25px 0 0 0;
}
.popup-top h2,
.popup-middle h2 {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 800px;
  margin: 10px 0;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

.popup-top svg,
.popup-middle svg {
  margin: 0 5px 0 0;
}

.popup-top ul li h3,
.popup-middle ul li h3 {
  text-align: left;
  font-size: 1rem;
  font-weight: 400px;
  margin: 8px 0;
  letter-spacing: 1px;
}
.popup-top ul li h4,
.popup-middle ul li h4 {
  font-size: 0.9rem;
  font-weight: 400px;
  margin: 0;
  letter-spacing: 1px;
}

.popup-top ul li p,
.popup-middle ul li p {
  margin: 8px 0;
}
.Habilidades ul,
.Idiomas ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 10px;
  padding: 10px 20% 10px 10px;
}
.Habilidades ul li,
.Idiomas ul li {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: fit-content;
  padding: 8px 10px;
  border-radius: 5px;
  transition: 0.5s;
  font-size: 0.8rem;
  letter-spacing: 0.8px;
  margin: 5px 0;
  background: #03a9f4;
  color: #fff;
}

.popup.visible {
  display: block;
  opacity: 1;
}

/* Estilo para la paginación */
pagination-controls {
  text-align: center;
  margin-top: 10px;
}

/* Responsive */
@media screen and (max-width: 1000px) {
  pagination-controls,
  .tarjeta {
    width: 80%;
  }
  .filtrar-egresados-nombre {
    top: 120px;
    padding: 50px 80px 50px 100px;
  }
}

@media screen and (max-width: 800px) {
  pagination-controls,
  .tarjeta {
    width: 93%;
    background: none;
  }
  .container-tarjetas-2 {
    margin-top: 140px;
    width: 95%;
  }
  .tarjeta img,
  .info-perfil img {
    height: 70px;
    width: 70px;
    margin: 0;
  }

  .text {
    font-size: 1rem;
    padding: 1rem;
  }
  .popup {
    padding-left: 0;
  }
  .popup-content {
    top: 50%;
    left: 50%;
    width: 80%;
    height: 70%;
  }
  .popup-content header img {
    height: 150px;
    width: 150px;
  }
  .popup-content header p {
    width: 100%;
    margin: 10px 0;
  }

  .popup-content header h1 {
    font-size: 1.2rem;
  }
  .popup-content header h2 {
    font-size: 1rem;

    font-weight: 400px;
    margin: 0;
  }
  .popup main {
    display: flex;
    flex-direction: column;
  }

  .img-perfil {
    padding: 0%;
    width: 30%;
  }
  .img-perfil img {
    height: 80px;
    width: 80px;
  }

  .info-perfil {
    padding: 0%;
  }
  .info-perfil a {
    padding: 5px 10px;
    font-size: 0.8em;
    margin: 9px 0 0 0;
    line-height: 20px;
  }

  .tarjeta h1 {
    font-size: 0.9rem;
  }
  .tarjeta p,
  .tarjeta p:nth-child(3) {
    font-size: 12px;
    margin: 0;
  }

  .filtrar-egresados-nombre {
    flex-direction: column;
    gap: 20px;
    margin: 0px;
    width: 100%;
    padding: 40px 0;
    position: fixed;
    top: 120px;
    background: #fff;
  }

  .filtrar-egresados-nombre h1 {
    font-size: 1.4rem;
    margin: 0;
  }
  .ver-filtros {
    padding-top: 15px;
    flex-direction: row;
    justify-content: center;
  }
  .ver-filtros button {
    margin-top: 0;
  }
}
