@import url(https://fonts.googleapis.com/css?family=Montserrat:200,400,500,600,700,800);

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;

}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px;
}
.container-destacados {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  right: 0;
}
.encabezado {
  width: 100%;
  margin-top: 70px;
  margin-bottom: 30px;
}
.encabezado h1 {
  font-size: 1.6em;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 15px 0;
  padding: 0;
  color: #444;
}

.ver-filtros {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 5px;
}
.ver-filtros input {
  border: 1px solid #03a9f4;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}
.ver-filtros button {
  background-color: #007bff;
  color: #ffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.5s;
  font-size: 0.8rem !important;
  letter-spacing: 1px;
  width: fit-content;
}

.ver-filtros button:hover {
  background-color: #0056b3;
}

.overlay-content h2 {
  font-size: 1.1rem;
  text-align: center;
  color: #fff;
  background: #00000057;
  font-weight: 400;
  position: absolute;
  top: -20px;
  width: 100%;
  right: 1px;
  padding: 10px;
  letter-spacing: 1px;
}
.overlay-content p {
  font-size: 1rem;
  line-height: 1.4;
  color: #fff;
  margin-bottom: 1.5rem;
  position: absolute;
  background: #00000084;
  padding: 8px;
  width: 100%;
  bottom: -23px;
  right: 0px;
  letter-spacing: 1px;
}

.overlay-content p span {
  display: block;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
.wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 250px;
  height: 25em;
  border: none;
  transition: 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem 0.3rem;
  background: #0584ce;
  transition: 0.4s ease-in-out;
  z-index: 1;
}
.overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  border: none;
  transition: 0.3s ease-in-out 0.2s;
  z-index: 1;
}

.image-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.image-content img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  right: 5px;
}

.inset {
  width: 130px;
  height: 130px;
  display: block;
  margin: 10px 0;
  margin: 10px auto;
  border-radius: 50%;
  object-fit: cover;
}

.text {
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  background: #ffec8e;
  box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / 0.4);
  overflow-y: scroll;
}

.text h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  font-weight: 600;
  color: #444;
  font-size: 1.1rem;
}
.text svg {
  margin: 5px 10px;
}

.text p,
.text h5 {
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-weight: 400;
  color: #444;
}
.text h5 {
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin: 40px 0 0 0;
  padding: 0%;
}
.text h5 svg {
  margin: 0 5px;
}
.wrap:hover .overlay {
  transform: translateX(-100vmin);
}

/* Animations and timing delays */
.animate {
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-fill-mode: backwards;
}
/* Pop In */
.pop {
  animation-name: pop;
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* Slide In */
.slide {
  animation-name: slide;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(4em, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Slide Left */
.slide-left {
  animation-name: slide-left;
}
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translate(-40px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.slide-up {
  animation-name: slide-up;
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(3em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.delay-1 {
  animation-delay: 0.3s;
}
.delay-2 {
  animation-delay: 0.6s;
}
.delay-3 {
  animation-delay: 0.9s;
}
.delay-4 {
  animation-delay: 1.2s;
}
.delay-5 {
  animation-delay: 1.5s;
}
.delay-6 {
  animation-delay: 1.8s;
}
.delay-7 {
  animation-delay: 2.1s;
}
.delay-8 {
  animation-delay: 2.4s;
}



.perfil {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ver-perfil {
  width: fit-content;
  padding: 8px 15px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-size: 0.7em;
  font-weight: 600;
  line-height: 20px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
  transition: 0.5s;
  background: #fff;
  color: #595656;
}
.ver-perfil:hover {
  background: #03a9f4;
  color: #fff;
}

/* Pop up */

.popup {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 34, 34, 0.769);
  transition: 0.8s ease;
  z-index: 200;
  padding-left: 10%;
}
.popup.visible {
  display: block;
  opacity: 1;
}
.popup-content {
  position: absolute;
  top: 55%;
  left: 60%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 8px 0 rgba(134, 130, 130, 0.2);
  width: 60%;
  height: 70%;
  overflow-y: scroll;
}

.close {
  color: #aaa;
  float: right;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}

.popup main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 10px;
  padding: 10px;
  border-top: 5px solid #03a9f4;
}

.popup-content header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.popup-content header h1 {
  font-size: 1.8rem;
  font-weight: 800;
  margin: 10px 0;
  text-align: center;
}

.popup-content header h2 {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0 auto;
  margin-left: 25%;
  text-align: left;
}

.popup-content header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
}

.popup-content header p {
  width: 50%;
  margin: 20px auto;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 400;
}
.popup-top,
.popup-middle {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.popup-top ul,
.popup-middle ul {
  list-style: none;
  padding: 0;
  margin: 0%;
}
.popup-top ul li {
  margin: 25px 0 0 0;
}
.popup-top h2,
.popup-middle h2 {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px 0;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

.popup-top svg,
.popup-middle svg {
  margin: 0 5px 0 0;
}

.popup-top ul li h3,
.popup-middle ul li h3 {
  text-align: left;
  font-size: 1rem;
  font-weight: 700;
  margin: 8px 0;
  letter-spacing: 1px;
}
.popup-top ul li h4,
.popup-middle ul li h4 {
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0;
  letter-spacing: 1px;
}

.popup-top ul li p,
.popup-middle ul li p{
  margin: 8px 0;
}
.Habilidades ul,
.Idiomas ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 10px;
  padding: 10px 20% 10px 10px;
}
.Habilidades ul li,
.Idiomas ul li {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: fit-content;
  padding: 8px 10px;
  border-radius: 5px;
  transition: 0.5s;
  font-size: 0.8rem;
  letter-spacing: 0.8px;
  margin: 5px 0;
  background: #03a9f4;
  color: #fff;
}





@media screen and (max-width: 800px) {
  .container {
    padding: 20px;
  }
  .container-destacados {
    justify-content: center;
    align-items: center;
  }
  .encabezado {
    margin-top: 120px;
  }
  .encabezado h1 {
    font-size: 1.3rem;
  }
  .wrap {
    width: 260px;
    height: 23em;
  }

  .text {
    font-size: 1rem;
    padding: 1rem;
  }
  .popup {
    padding-left: 0;
  }
  .popup-content {
    top: 50%;
    left: 48%;
    width: 90%;
    height: 70%;
  }
  .popup-content header p {
    width: 100%;
    margin: 10px 0;
  }
  .popup-content header img {
    height: 110px;
    width: 110px;
  }
  .popup-content header h1 {
    font-size: 1.2rem;
  }
  .popup-content header h2 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
  }
  .popup main {
    display: flex;
    flex-direction: column;
  }
}
