* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.sign-in-container {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sign-in-container a {
  color: #333;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
  text-decoration: none;
  margin: 15px 0;
  transition: 0.3s ease-in;
}
.sign-in-container a:hover {
  color: #0584ce;
}

.sign-in-container button {
  border-radius: 5px;
  border: none;
  background-color: #0584ce;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.3s ease-in;
  cursor: pointer;
}

.sign-in-container button:hover {
  background-color: #0559ce;
}

.sign-in-container button:focus {
  outline: none;
}

.sign-in-container form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  width: 50%;
  min-width: 400px;
  max-width: 1000px;
  height: 500px;
  text-align: center;
  box-shadow: 0px 0px 5px #e6e5e5;
  border-radius: 10px;
}

.sign-in-container .escudo {
  width: 90%;
  min-width: 200px;
  margin: 0 0 20px 0;
  background-blend-mode: color-burn;
}

.sign-in-container form input {
  box-shadow: 0px 0px 3px #e6e5e5;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  transition: 0.3s ease-in;
}
.sign-in-container form input:focus {
  outline: 0.5px solid rgb(12, 255, 12);
}
@media screen and (max-width: 800px) {
  .sign-in-container {
    align-items: normal;
    margin-top: 25%;
  }
  .sign-in-container form {
    padding: 0 30px;
    width: 70%;
    box-shadow: none;
  }
}
