<app-header></app-header>

<div class="sign-in-container">
  <app-loading *ngIf="showLoading"></app-loading>

  <form name="login">
    <img
      class="escudo"
      src="https://soft.uasd.edu.do/ValidaTitulo/assets/img/LOGO-UASD.jpg"
      alt="logo"
    />
    <input
      id="email"
      type="email"
      [(ngModel)]="email"
      name="email"
      placeholder="Email"
      required
    />
    <input
      id="password"
      type="password"
      [(ngModel)]="password"
      name="password"
      placeholder="Password"
      required
    />
    <a href="./recuperar_contrasena">Olvido el usuario o contraseña?</a>
    <button type="submit" (click)="login()">Entrar</button>
  </form>
</div>
