@import url(https://fonts.googleapis.com/css?family=Montserrat:400,300,100,700,600,800,900);
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
header {
  top: 0;
  position: fixed;
  left: 0;
  padding: 25px 21px 25px 19%;
  width: 100%;
  background: #0584ce;
  z-index: 200;
}
.menu {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo a img {
  width: 50%;
}
.logoT {
  font-weight: 500;
  font-size: 1.3rem;
  letter-spacing: 1px;
  color: #f8f6f6;
}

.menu ul,
.menu li {
  display: flex;
  list-style: none;
  justify-content: right;
  margin: 0;
  padding: 0;
  gap: 5px;
}

.menu ul a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  padding: 15px;
}
.menu ul a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.menu ul a:hover:after {
  width: 100%;
  left: 0;
}
#menu-button,
#close-button {
  cursor: pointer;
  display: none;
}

/* Responsive Design */
@media screen and (max-width: 1000px) {
  header {
    padding: 25px 75px;
  }
  .menu ul a {
    font-size: 1rem;
    padding: 5px;
  }
}

@media screen and (max-width: 800px) {
  header {
    padding: 20px 0px;
  }
  .menu {
    z-index: 100;
    height: 80px;
    padding-left: 30px;
    padding-right: 25px;
  }
  .menu ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: #0584ce;
    width: 100%;
    height: 100vh;
    padding: 40% 0 0 0;
    animation: aparecer ease-in-out;
    animation-duration: 0.5s;
  }

  .menu ul svg {
    width: 30px;
    z-index: 100;
    position: absolute;
    top: 50px;
    right: 70px;
  }
  .menu ul a {
    display: block;
    text-align: center;
    width: 100%;
    padding: 20px;
  }
  .menu ul a:after {
    background: none;
    width: 0;
  }
  .menu ul li a {
    animation: aparecer ease-in;
    animation-duration: 0.5s;
    animation-delay: 0.1s;
  }

  #menu-button,
  #close-button {
    display: block;
  }

  @keyframes aparecer {
    from {
      opacity: 0;
      translate: 100px 0;
    }
    to {
      translate: 0 0;
      opacity: 1;
    }
  }

  .icon {
    width: auto;
    display: block;
    position: absolute;
    right: 5%;
    top: 27%;
    background: none;
    border: none;
  }
  .icon svg {
    width: 30px;
    color: #f8f6f6;
  }

  .logo img {
    width: 40%;
  }
  .active ul {
    display: block;
  }
}
