body {
  width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
/* Estilo para la paginación */
pagination-controls {
  text-align: center;
  margin-top: 20px;
}

.pagination-controls a {
  display: inline-block;
  margin: 0 4px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.pagination-controls a:hover {
  background-color: #0056b3;
}

.pagination-controls .current {
  background-color: #0056b3;
}

.pagination-controls .disabled {
  background-color: #eee;
  color: #999;
  cursor: not-allowed;
}

/* Estilo para la página actual y el número de páginas */
.pagination-controls .current,
.pagination-controls .current + a {
  color: #fff;
}

/* Estilo para el botón de retroceso y avance */
.pagination-controls .prev,
.pagination-controls .next {
  font-weight: bold;
}

/* Estilo para el botón de retroceso y avance cuando está deshabilitado */
.pagination-controls .prev.disabled,
.pagination-controls .next.disabled {
  background-color: #eee;
  color: #999;
  cursor: not-allowed;
}

/* Estilo para el indicador de carga (opcional) */
.loading-indicator {
  text-align: center;
  margin-top: 20px;
}

app-login {
  overflow-x: hidden;
}
